{% if content.show|length > 0 %}
	<div class="brz-sermonList__container" data-columncount="{{ column_count }}" data-columncount-tablet="{{ column_count_tablet }}" data-columncount-mobile="{{ column_count_mobile }}">
		{% for key, item in content.show %}
			<div class="brz-sermonList__item">
				{% if show_images and item.imageurl is defined and not show_video %}
					{% if detail_url %}
						<a class="brz-ministryBrands__item--meta--links" href="{{ detail_url }}?brz_sermon_slug={{ item.slug }}">
						{% endif %}

						<div class="brz-sermonList__item--img">
							{% if item.imageurl  %}
								<img src="{{ item.imageurl }}" alt="\"/>
							{% endif %}

						</div>

						{% if detail_url %}
						</a>
					{% endif %}
				{% endif %}

				{% if show_video %}
					{% if item.videoembed %}
						<div class="brz-ministryBrands__disable--click brz-sermonList__item--media--video">{{ item.videoembed }}</div>
					{% elseif item.videourl %}
						<div class="brz-sermonList__item--media--video">
							<video src="{{ item.videourl }}" controls preload="none" width="1024" height="576" poster="{{ item.imageurl }}" type="video/{{ item.videourl|split('.')|last }}">
								<p>The Video could not be played.
									<a class="brz-ministryBrands__item--meta--links" href="{{ item.videourl }}" target="_blank">download it here</a>
								</p>
							</video>
						</div>

					{% elseif show_image and item.imageurl %}
						<div class="brz-sermonList__item--img"><img src="{{ item.imageurl }}" alt="\"/></div>
					{% endif %}
				{% endif %}

				{% if show_audio and item.audiourl %}
					<div class="brz-sermonList__item--media--audio">
						<audio src="{{ item.audiourl }}" controls preload="none"></audio>
					</div>
				{% endif %}

				{% if show_title %}
					<h4 class="brz-sermonList__item--meta--title">
						{% if detail_url %}
							<a class="brz-ministryBrands__item--meta--links--title" href="{{ detail_url }}?brz_sermon_slug={{ item.slug }}">
							{% endif %}

							{{ item.title }}
							{{ detail_url ? "</a>" }}
						</h4>
					{% endif %}

					{% if show_date and item.date %}
						<h6 class="brz-sermonList__item--meta">
							{{ show_meta_headings ? "Date: " }}
							{{ item.date }}
						</h6>
					{% endif %}

					{% if show_category and item.category %}
						<h6 class="brz-sermonList__item--meta">
							{{ show_meta_headings ? "Category: " }}
							{{ item.category }}
						</h6>
					{% endif %}

					{% if show_group and item.group %}
						<h6 class="brz-sermonList__item--meta">
							{{ show_meta_headings ? "Group: " }}
							{{ item.group }}
						</h6>
					{% endif %}

					{% if show_series and item.series %}
						<h6 class="brz-sermonList__item--meta">
							{{ show_meta_headings ? "Series: " }}
							{{ item.series }}
						</h6>
					{% endif %}

					{% if show_preacher and item.preacher %}
						<h6 class="brz-sermonList__item--meta">
							{{ show_meta_headings ? "Speaker: " }}
							{{ item.preacher }}
						</h6>
					{% endif %}

					{% if show_passage and item.passages %}
						<h6 class="brz-sermonList__item--meta--link">
							{{ show_meta_headings ? "<span class='brz-sermonList__item--meta'>Passages: </span>" }}
							<span class="brz-ministryBrands__item--meta--links">
								{{ item.passages }}
							</span>
						</h6>
					{% endif %}

					{% if show_media_links %}
						<ul class="brz-sermonList__item--media">

							{% if item.videoplayer %}
								<li class="brz-ministryBrands__item--meta--links">
									{% if "javascript" in item.videoplayer %}
										{{preg_replace('<a(.+?) (.+?)>(.+?)<\/a>', '<a href="javascript:void(0);" $2><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="brz-icon-svg align-[initial]"><path d="M528 0H48C21.5 0 0 21.5 0 48v320c0 26.5 21.5 48 48 48h192l-16 48h-72c-13.3 0-24 10.7-24 24s10.7 24 24 24h272c13.3 0 24-10.7 24-24s-10.7-24-24-24h-72l-16-48h192c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zm-16 352H64V64h448v288z"></path></svg></a>', item.videoplayer)}}
									{% else %}
										{{preg_replace("<a(.+?)>(.+?)<\/a>", '<a$1><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="brz-icon-svg align-[initial]"><path d="M528 0H48C21.5 0 0 21.5 0 48v320c0 26.5 21.5 48 48 48h192l-16 48h-72c-13.3 0-24 10.7-24 24s10.7 24 24 24h272c13.3 0 24-10.7 24-24s-10.7-24-24-24h-72l-16-48h192c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zm-16 352H64V64h448v288z"></path></svg></a>', item.videoplayer)}}
									{% endif %}
								</li>
							{% endif %}

							{% if item.audioplayer %}
								<li class="brz-ministryBrands__item--meta--links">
									{{preg_replace("<a(.+?)>(.+?)<\/a>", '<a$1><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512" class="brz-icon-svg align-[initial]">
										<path d="M215.03 71.05L126.06 160H24c-13.26 0-24 10.74-24 24v144c0 13.25 10.74 24 24 24h102.06l88.97 88.95c15.03 15.03 40.97 4.47 40.97-16.97V88.02c0-21.46-25.96-31.98-40.97-16.97zm233.32-51.08c-11.17-7.33-26.18-4.24-33.51 6.95-7.34 11.17-4.22 26.18 6.95 33.51 66.27 43.49 105.82 116.6 105.82 195.58 0 78.98-39.55 152.09-105.82 195.58-11.17 7.32-14.29 22.34-6.95 33.5 7.04 10.71 21.93 14.56 33.51 6.95C528.27 439.58 576 351.33 576 256S528.27 72.43 448.35 19.97zM480 256c0-63.53-32.06-121.94-85.77-156.24-11.19-7.14-26.03-3.82-33.12 7.46s-3.78 26.21 7.41 33.36C408.27 165.97 432 209.11 432 256s-23.73 90.03-63.48 115.42c-11.19 7.14-14.5 22.07-7.41 33.36 6.51 10.36 21.12 15.14 33.12 7.46C447.94 377.94 480 319.54 480 256zm-141.77-76.87c-11.58-6.33-26.19-2.16-32.61 9.45-6.39 11.61-2.16 26.2 9.45 32.61C327.98 228.28 336 241.63 336 256c0 14.38-8.02 27.72-20.92 34.81-11.61 6.41-15.84 21-9.45 32.61 6.43 11.66 21.05 15.8 32.61 9.45 28.23-15.55 45.77-45 45.77-76.88s-17.54-61.32-45.78-76.86z"></path>
									</svg></a>', item.audioplayer)}}
								</li>
							{% endif %}

							{% if item.notes %}
								<li class="brz-sermonList__item--media--notes">
									<a class="brz-ministryBrands__item--meta--links" href="{{ item.notes }}" target="_blank">
										<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" class="brz-icon-svg align-[initial]">
											<path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm64 236c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-64c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-72v8c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm96-114.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z"></path>
										</svg>
									</a>
								</li>
							{% endif %}

						</ul>
					{% endif %}


					{% if show_preview and item.preview %}
						<p class="brz-sermonList__item--meta--preview">{{ item.preview }}</p>
					{% endif %}

					{% if detail_url and detail_page_button_text %}
						<p class="brz-sermonList__item--detail-button">
							<a class="brz-ministryBrands__item--meta--links" href="{{ detail_url }}" class="brz-button-link brz-button brz-size-sm">
								<div class="brz-ministryBrands__item--meta--button">{{ detail_page_button_text }}</div>
							</a>
						</p>
					{% endif %}
				</div>


			{% endfor %}
		</div>

		{% if show_pagination  %}
			{{ content.after_show.pagination|replace({'id="pagination"': 'id="brz_sermon_list_pagination" class="brz-ministryBrands__pagination"', 'page=': 'ekk-sermons-list-page='}) }}
		{% endif %}

	{% else %}
		<p>There are no sermons available.</p>
	{% endif %}
